@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;500&family=Alegreya+Sans:wght@300;400;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Alegreya Sans';
  }
  
  .page-title {
    width: 100%;
    text-align: center;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .options,
  .results {
    position: relative;
    height: 75vh;
    width: 60%;
    border: 2px black solid;
  }
  
  .options {
    width: 25%;
  }
  
  .results {
    width: 80vw;
    overflow: hidden;
    background-color: #c0c0c0;
  }
  
  #report {
    width: 100%;
    height: max-content;
    overflow-y: scroll;
    border: 2px black solid;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    background-color: #fff;

  }
  
  th,
  td {
    padding: 5px;
    border: 2px black solid;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media print {
    nav {
      display: none;
    }
    .options {
      display: none;
    }
    .results {
      width: 100%;
      height: max-content;
      border: 2px black solid;
    }
    #report {
      zoom: 100%;
      width: 100%;
      height: max-content;
      border: 2px black solid;
      border-collapse: collapse;
      padding: 5px;
      text-align: center;
    }
    @page {
      size: 11in 8.5in;
      margin: 1in;
    }
  }